<div class="header">
	<img src="http://cdn.getspini.com/category/optimized/spini_white.png" />
</div>
<style type="text/css">
	.header{
		background-color: red;
		display: block;
		padding: 10px;
	}
	body{
		margin: 0;
	}
</style>